{% extends "base.html" %}


{% block xyz %}

<div style="padding: 41px;
padding-left: 141px;
padding-right: 135px;
margin-top: 16px;">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <div style="    display: flex;
      justify-content: center;">
        <button type="button" class="btn btn-success">Success</button>

      </div>
</div>



{% endblock xyz %}


{% block title %}Contact{% endblock title %}