{% extends "base.html" %}

{% block xyz %}

<div
  style="padding: 41px; padding-left: 141px; padding-right: 135px; margin-top: 16px;">
  <div id="liveAlertPlaceholder"></div>

  <form action="/update-this/{{mydata[0][0]}}" method="post">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" value="{{mydata[0][0]}}" id="exampleFormControlInput1"
        placeholder="Enter your Name" required>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
      <input type="number" class="form-control" name="phone" value="{{mydata[0][1]}}" id="exampleFormControlInput1"
        placeholder="Enter Phone Number" required>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email Id</label>
      <input type="email" class="form-control" name="email" value="{{mydata[0][2]}}" id="exampleFormControlInput1"
        placeholder="Enter your Email Id" required>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Message</label>
      <textarea class="form-control" name="msg id="exampleFormControlTextarea1" rows="3"
        placeholder="Enter Your Message" required>{{mydata[0][3]}}</textarea>
    </div>

    <div style="    display: flex;
      justify-content: center;">
      <button type="submit" id="liveAlertBtn" class="btn btn-success">Update</button>

    </div>
  </form>
</div>

<script>
  const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
const appendAlert = (message, type) => {
  const wrapper = document.createElement('div')
  wrapper.innerHTML = [
    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
    `   <div>${message}</div>`,
    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
    '</div>'
  ].join('')

  alertPlaceholder.append(wrapper)
}

const alertTrigger = document.getElementById('liveAlertBtn')
if (alertTrigger) {
  alertTrigger.addEventListener('click', () => {
    appendAlert('Nice, you triggered this alert message!', 'success')
  })
}
</script>
{% endblock xyz %}

{% block title %}Contact{% endblock title %}